include layout.jade
include mixins.jade

block canvas
    #wrap
        #canvas
            +image('imgs/saintsrobotics-logo.svg')(id='logo')

block info
    #info
        p#title(style='padding-top: 5%; padding-left: 5%') About us:
        p#content(style='padding-left: 5%;') &lt;Media team pls&gt;
        p#title(style='float: right; padding-right: 5%') What we do:
