include layout.jade

block canvas
    #wrap
        #canvas
            ul#imageWrap
                li
                    img(src='imgs/cat1.jpg')
                li
                    img(src='imgs/cat2.jpg')
                li
                    img(src='imgs/cat3.jpg')

block info
    #info='ABOUT US'
