doctype html
html(lang='en')
head
    link(rel='stylesheet', href='style.css')
    title='Saints Robotics | FRC Team 1899'
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='js/jssor.slider.mini.js')
body
    #canvas
        block canvas
    #info
        block info
    #footer
        block footer
