doctype html
html(lang='en')
head
    link(rel='stylesheet', href='style.css')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    title='Saints Robotics | FRC Team 1899'
body
    block canvas
    block info
    block footer
