---
---

@import url('http://fonts.googleapis.com/css?family=Varela+Round');

html, body
{
    font-family: 'Varela Round';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    -webkit-font-smoothing: subpixel-antialiased;
}

#wrap
{
    z-index: -1;
    position: relative;
    height: 92.5%;
    width: 100%;
}

#canvas
{
    @extend #wrap;
    position: fixed;

    background: #454448;
}

#info
{
    @extend #wrap;
    font-size: 20px;
    color: #e0eced;

    background: #3bafe9;

    z-index: 0;
}

ul#imageWrap
{
    position: relative;
    overflow: hidden;

    padding: 0;
}

ul#imageWrap li
{
    float: left;

    list-style: none;
}

img#logo
{
    display:block;
    height: auto;
    width: auto;
    margin: auto;
}
