---
---

@import url('http://fonts.googleapis.com/css?family=Varela+Round');

html, body
{
    font-family: 'Varela Round';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    -webkit-font-smoothing: subpixel-antialiased;
}

#info
{
    font-size: 20px;
    color: #e0eced;

    background: #3bafe9;

    position: relative;
    overflow: hidden;
    height: 75%;
    width: 100%;
}
